<section class="content container">
  <div class="row row-col-3 top-buffer">
    <div class="col d-flex">
      <div class="card" style="width:17rem;">
        <div class="card-body">
          <h5 class="card-title">
            <img src="../assets/images/docker.png" class="card-img-top" alt="..."></h5>
          <h6 class="card-subtitle mb-2 text-muted ">Learn Docker from industry Eperts</h6>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
        </div>
        <div class="card-footer text-muted text-center">
          <button class="btn">Enroll Now</button>
        </div>
      </div>
    </div>
    <div class="col d-flex">
      <div class="card" style="width:17rem;">

        <div class="card-body">
          <h5 class="card-title"><img src="../assets/images/kubernetes.png" class="card-img-top" alt="..."></h5>
          <h6 class="card-subtitle mb-2 text-muted ">Learn Kubernetes from industry Eperts</h6>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
        </div>
        <div class="card-footer text-muted text-center">
          <button class="btn">Enroll Now</button>
        </div>
      </div>
    </div>
    <div class="col d-flex">
      <div class="card" style="width:17rem;">

        <div class="card-body">
          <h5 class="card-title"> <img src="../assets/images/java.png" class="card-img-top" alt="..."></h5>
          <h6 class="card-subtitle mb-2 text-muted ">Learn Java from industry Eperts</h6>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
        </div>
        <div class="card-footer text-muted text-center">
          <button class="btn">Enroll Now</button>
        </div>
      </div>
    </div>
    <div class="col d-flex">
      <div class="card" style="width:17rem;">

        <div class="card-body">
          <h5 class="card-title"><img src="../assets/images/aws.png" class="card-img-top" alt="..."></h5>
          <h6 class="card-subtitle mb-2 text-muted ">Learn Docker from industry Eperts</h6>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
        </div>
        <div class="card-footer text-muted text-center">
          <button class="btn">Enroll Now</button>
        </div>
      </div>
    </div>
    <div class="col d-flex">
      <div class="card" style="width:17rem;">

        <div class="card-body">
          <h5 class="card-title"><img src="../assets/images/angular.png" class="card-img-top" alt="..."></h5>
          <h6 class="card-subtitle mb-2 text-muted ">Learn Angular from industry Eperts</h6>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
        </div>
        <div class="card-footer text-muted text-center">
          <button class="btn">Enroll Now</button>
        </div>
      </div>
    </div>
    <div class="col d-flex">
      <div class="card" style="width:17rem;">

        <div class="card-body">
          <h5 class="card-title"><img src="../assets/images/react.png" class="card-img-top" alt="..."></h5>
          <h6 class="card-subtitle mb-2 text-muted ">Learn React JS from industry Eperts</h6>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
        </div>
        <div class="card-footer text-muted text-center">
          <button class="btn">Enroll Now</button>
        </div>
      </div>
    </div>
  </div>
</section>
