.card-footer {
  background-color: #346f71;
}

.btn {
  color: white;
}

img {
  width: 150px;
  height: 150px;
  object-fit: contain;
}

.card {
  margin-top: 20px;
}

.card-title {
  text-align: center;
}

.top-buffer {
  margin-bottom: 20px;
}
