<div class="container">
  <footer class="footer">
    <div class="row">
      <div class="col-sm-4">
        <h4><b><u><i>Quick Links</i></u></b></h4>
        <ul class="qlink">
          <li>
            <a aria-current="page" href="#">Home</a>
          </li>
          <li>
            <a aria-current="page" href="#">Corporates</a>
          </li>
          <li>
            <a aria-current="page" href="#">Colleges</a>
          </li>
          <li>
            <a aria-current="page" href="#">About US</a>
          </li>
          <li>
            <a aria-current="page" href="#">Contact Us</a>
          </li>
          <li>
            <a aria-current="page" href="#">Join US</a>
          </li>
        </ul>
      </div>

      <div class="col-sm-4">
        <h4><b><u><i>Location</i></u></b></h4>
        <ul>
          <li>
            <table>
              <tr>
                <td>
                  <mat-icon>location_on</mat-icon>
                </td>
                <td>D.No. 24-2-1229, <br>Ramnagar - 2nd street<br>
                  Dargamitta,<br>Nellore - 524003.<br>Andhra pradesh.</td>
              </tr>
            </table>
          </li>
        </ul>
      </div>
      <div class="col-sm-4">
        <h4><b><u><i>Reach out to us</i></u></b></h4>
        <ul>
          <li>
            <mat-icon>facebook</mat-icon>
            <mat-icon>whatsapp</mat-icon>
            <mat-icon>email</mat-icon>
            <mat-icon class="youtube">play_arrow</mat-icon>
          </li>
          <li>
            <table>
              <tr>
                <td>
                  <mat-icon>phone</mat-icon>
                </td>
                <td>8939224692</td>
              </tr>
              <tr>
                <td>
                  <mat-icon>email</mat-icon>
                </td>
                <td>venpras.tech@gmail.com</td>
              </tr>
            </table>
          </li>
        </ul>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col" class="footer-copy">
        <p>&copy;2020 - Venpras Technologies, All Rights Reserved.</p>
      </div>
    </div>
  </footer>
</div>
