<div class="container"><br>
  <div class="p-5 jumbo">
    <div class="container">
      <h1 class="display-3">Venpras Technologies<sup>&#174;</sup></h1>
      <p class="lead">A one-stop destination to all your technical needs</p>
      <hr class="my-2">
      <p>Venpras Technology<sup>&#174;</sup> is a true pioneer in steering the current generation towards accomplishing
        their goals.
        <br>
      </p>
      <p class="lead">
        <a class="btn btn-gr btn-lg" role="button">Know More</a>
      </p>
    </div>
  </div><br>
</div>
<div class="container">
  <h2>Services Offerred:</h2>
  <div class="row">
    <div class="col-sm-4 d-inline-flex  top-buffer">
      <div class="card">
        <div class="card-header btn-gr text-center">
          Training
        </div>
        <div class="card-body">
          <h5 class="card-title"><img src="assets/images/training.jpg"/></h5>
          <div class="card-text">
            <p><strong>Key Take aways:</strong></p>
            <ul>
              <li>Training led by industry professional having real time experience.</li>
              <li>Customized course curriculum as per the client requirements.</li>
              <li>Updated course content to meet current competition.</li>
              <li>Best in class training, Affordable prices, Competitive results</li>
            </ul>
          </div>
        </div>
        <div class="card-footer btn-gr text-center">
          <a href="#" class="btn btn-gr" >check out more</a>
        </div>
      </div>
    </div>

    <div class="col-sm-4 d-inline-flex  top-buffer">
      <div class="card">
        <div class="card-header btn-gr text-center">
          Project support
        </div>
        <div class="card-body">
          <h5 class="card-title"><img src="assets/images/support.jpg"/></h5>
          <div class="card-text">
            <p><strong>Key Take aways:</strong></p>
            <ul>
              <li>Offline or Online project support available</li>
              <li>customized work hours adjusted towards client timezone.</li>
              <li>committed to accomplish task within stipulated timeline.</li>
              <li>cost effective, productive result, and client trust.</li>
            </ul>
          </div>
        </div>
        <div class="card-footer btn-gr text-center">
          <a href="#" class="btn btn-gr" >check out more</a>
        </div>
      </div>
    </div>

    <div class="col-sm-4 d-inline-flex  top-buffer">
      <div class="card">
        <div class="card-header btn-gr text-center">
          Sotware development
        </div>
        <div class="card-body">
          <h5 class="card-title"><img src="assets/images/software.jpg"/></h5>
          <div class="card-text">
            <p><strong>Key Take aways:</strong></p>
            <ul>
              <li>Accept full time or part time projects.</li>
              <li>Developed and Maintained by industry experienced developers, leads and architects.</li>
              <li>All latest technologies development work can be taken up.</li>
              <li>Cost effecive project management and quality product deliverables.</li>
            </ul>
          </div>
        </div>
        <div class="card-footer btn-gr text-center">
          <a href="#" class="btn btn-gr" >check out more</a>
        </div>
      </div>
    </div>
  </div>
</div>
